@model IEnumerable<EquipmentCheckout.Models.Equipment>

@{
    ViewBag.Title = "Equipment Checkout";
}

<h2>Checkout Requests</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Equipments", FormMethod.Get)){
        <p>
            User: @Html.TextBox("id")
            <input type="submit" value="Search" />
        </p>
    }
</p>

@*Comment out anything below to have it not listed in the table*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Incident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentCheckedOut)
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                <p>
                    <a href="@Url.Action("Details", "Equipments", new { id = item.ID })">
                        @Html.DisplayFor(modelItem => item.Incident)
                    </a>
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentCheckedOut)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        }

    </table>
